*DS_Store*
.Rproj.user
ParticipantData/bids/sourcedata
ParticipantData/untouchedRaw
ParticipantData/bids/rawdata
ParticipantData/bids/phenotype
ParticipantData/bids/participants*
ParticipantData/bids/derivatives* 
*html
.Rhistory
*__pycache__*